.loading-wrapper {
  position: fixed;
  top: 16px;
  right: 16px;
  display: flex;
  align-items: center;
}

.loading-icon {
  width: 26px;
  height: 26px;
  background: url('../../assets/images/loading-icon.svg') no-repeat;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
