.modal-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(236, 236, 236, 0.5);
  z-index: 1;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: var(--white-color);
  transform: translate(-50%, -50%);
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0 auto;
}

.modal-submit {
  min-width: 350px;
  padding: 20px;
}

.modal-submit-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.modal-submit-header .modal-title {
  font-weight: var(--fw-medium);
  font-size: var(--font-md);
  color: var(--secondary-color);
}

.modal-submit-body {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: space-between;
}

.modal-confirm {
  min-width: 250px;
  padding: 16px 20px;
  border-top: 4px solid var(--primary-color);
}

.modal-confirm-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 16px;
  color: var(--secondary-color);
}

.modal-confirm-header .modal-title {
  font-weight: var(--fw-medium);
  font-size: var(--font-md);
}

.modal-confirm-header .modal-desc {
  font-weight: var(--fw-regular);
  font-size: var(--font-sm);
}

.modal-confirm-body {
  display: flex;
  justify-content: space-between;
}

.icon-close {
  background: url('../../assets/images/close-icon.svg') no-repeat;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
