.toast-wrapper {
  display: flex;
  align-items: center;
  justify-content: end;
}

.toast-message {
  font-weight: var(--fw-regular);
  font-size: var(--font-sm);
  color: var(--secondary-color);
  margin-right: 10px;
}

.toast-icon::before {
  content: '';
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 50%;
}

.toast-icon-error::before {
  background: url('../../assets/images/cross-icon.svg') no-repeat;
  background-color: var(--not-active-color);
}

.toast-icon-success::before {
  background: url('../../assets/images/tick-icon.svg') no-repeat;
  background-color: var(--active-color);
}

.loading-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.loading-icon {
  width: 26px;
  height: 26px;
  background: url('../../assets/images/loading-icon.svg') no-repeat;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
