.toast-wrapper {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: end;
}

.top-right {
  top: 16px;
  right: 16px;
}

.top-left {
  top: 16px;
  left: 16px;
}

.top-center {
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
}

.bottom-left {
  bottom: 16px;
  left: 16px;
}

.bottom-center {
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
}

.bottom-right {
  bottom: 16px;
  right: 16px;
}

.toast {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.toast-message {
  font-weight: var(--fw-regular);
  font-size: var(--font-sm);
  color: var(--secondary-color);
  margin-right: 10px;
}

.toast-icon::before {
  content: '';
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 50%;
}

.error-icon::before {
  background: url('../../assets/images/cross-icon.svg') no-repeat;
  background-color: var(--not-active-color);
}

.success-icon::before {
  background: url('../../assets/images/tick-icon.svg') no-repeat;
  background-color: var(--active-color);
}
