.toolbar-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white-color);
  border: 1px solid var(--border-color);
  border-bottom: none;
  padding: 12px 10px;
  overflow: hidden;
}

.toolbar-content {
  font-weight: var(--fw-medium);
  font-size: var(--font-md);
}

.search-icon {
  background: url('../../../assets/images/search-icon.svg') no-repeat;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.highlight {
  color: #000;
  background-color: #ffff00;
}
