.text-area {
  font-family: var(--primary-font);
  font-size: var(--font-sm);
  font-weight: var(--fw-regular);
  color: var(--secondary-color);
  width: 416px;
  height: 120px;
  padding: 5px 12px;
  border: 1px solid var(--border-color);
  border-radius: 2px;
  outline: none;
  resize: none;
}

.text-area:focus {
  border: 1px solid var(--primary-color);
}

@media (max-width: 320px) {
  .text-area {
    width: 170px;
  }
}
