.btn {
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-family: var(--primary-font);
  font-size: var(--font-md);
  font-weight: var(--fw-medium);
}

.btn-primary {
  color: var(--white-color);
  background: var(--primary-color);
}

.btn-primary:hover {
  background: var(--primary-color-hover);
}

.btn-primary:active {
  background: var(--primary-color-active);
}

.btn-secondary {
  color: var(--primary-color);
  background: var(--light-grey);
}

.btn-secondary:hover {
  background: var(--light-grey-hover);
}

.btn-secondary:active {
  background: var(--light-grey-active);
}

.btn-sm {
  padding: 6.5px 27px;
}

.btn-md {
  padding: 6.5px 50px;
}

.btn-lg {
  padding: 6.5px 60px;
}

.btn-icon {
  margin-right: 10px;
}

.btn-popover {
  display: flex;
  align-items: center;
}

.disabled {
  background-color: var(--white-color);
  cursor: not-allowed;
  color: #94a1b3;
}

.disabled:hover{
  background-color: var(--white-color)
}

@media (max-width: 320px) {
  .btn-lg {
    padding: 6.5px 110px;
  }
}
