.main-header {
  display: flex;
  align-items: center;
  font-weight: var(--fw-medium);
  font-size: var(--font-md);
  color: var(--secondary-color);
  padding: 20px 14px;
  border-bottom: 1px solid var(--border-color);
}

.main-body {
  display: flex;
  background-color: #ebedf0;
}

.body-content {
  display: flex;
  width: 100%;
  padding: 10px;
}

.content {
  width: 100%;
}

@media (max-width: 1200px) {
  .icon-menu {
    display: block;
    content: '';
    background: url('./assets/images/icon-menu.svg') no-repeat;
    width: 23px;
    height: 23px;
    cursor: pointer;
    margin-right: 10px;
  }
}

@media (max-width: 768px) {
  .body-content {
    padding: 0;
  }
}
