.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  font-weight: var(--fw-medium);
  font-size: var(--font-md);
  color: var(--secondary-color);
  padding: 20px 14px;
  border-bottom: 1px solid var(--border-color);
}

.main-body {
  display: flex;
  background-color: #ebedf0;
}

.body-content {
  padding: 10px;
  width: 100%;
}
